body, .wrapper{
  background-color: white;
  height: 100%;
  width: 100%;
  color: white;
  background-color: grey;
  
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-wrapper{
  padding: 1em ;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 5em;
  background-color: ghostwhite;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 19em;
  min-width: 19em;
  max-height: 31em;
  min-height: 31em;
}

.calc-wrapper, a{
  text-decoration: none;
  color: ghostwhite;
  font-weight: 600;
}
/*Start of Calc Head*/
.calc-head-wrap{
  display: flex;
  flex-direction: column;
  padding: .5em;
  width: 100%;
  
}

.calc-title{
  padding-bottom: 2em;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  
}
.calc-screen{
  padding: .1em;
  background-color: grey;
  width: 98%;
  
}
.current-input{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 2.5em;

}
.all-input{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 2.5em;
  
  
}

/*End of Calc Head*/

.btn{
  padding: 1.2em;
  margin-bottom: 1em;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  width:90%;
}

.ac-btn, .ce-btn {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: .75em;
  padding-right: .75em;
  margin-bottom: 1em;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.other-btns{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: space-around;
}

.left-two-rows{
  display: flex;
  width: 50%;
  flex-direction: column;
}
.seveneight{
  display: flex;
  justify-content: space-around;
}
.fourfive{
  display: flex;
  justify-content: space-around;
}
.onetwo{
  display: flex;
  justify-content: space-around;
}

.right-two-rows{
  display: flex;
  width: 50%;
  justify-content: space-around;
  height: 80%;
}

.right-column-one{
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  
  
}
.right-column-two{
  display: flex;
  flex-direction: column;
  height: 100%;
  
  
}

.equal-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.45em;
  padding-bottom: 3.45em;
}

.zero-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  width: 54%;
}

.credit-wrap{
  width: 100;
  display: flex;
  justify-content: center;
}

.credit{
  
}