body, .wrapper{
  background-color: gray;
  height: 100%;
  width: 100%;
  color: white;
  
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-wrapper{
  padding: 1em ;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 5em;
  background-color: black;
  border-radius: 30px;
}
/*Start of Calc Head*/
.calc-head-wrap{
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.calc-title{
  padding: .2em 5.7em;
  color: white;
}
.calc-screen{
  padding: .1em;
  background-color: red;
}

.current-input{
  padding: 1.5em 10em;
  background-color: purple;
}

.all-input{
  padding: .8em 10em;
  background-color: green;
}

/*End of Calc Head*/

.btn{
  padding: 1em;
  margin-bottom: 1em;
  background-color: gray;
  border-radius: 20px;
}

.top-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  width:90%;
}

.other-btns{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: space-around;
}

.left-two-rows{
  display: flex;
  width: 50%;
  flex-direction: column;
}
.seveneight{
  display: flex;
  justify-content: space-around;
}
.fourfive{
  display: flex;
  justify-content: space-around;
}
.onetwo{
  display: flex;
  justify-content: space-around;
}

.right-two-rows{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.right-row-one{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.right-row-two{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.equal-btn{
  height: 100%;
}

.zero-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .6em;
  width: 50%;
}